.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5) ;
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
   overflow: hidden;
  }

  .inputcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 60px;

  }

  .span{
    position: relative;
    font-size: 12px;
    color: rgb(219, 105, 105);
  }
  .input{
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #bbb;
    padding-left: 20px;
    border-radius: 10px;  
  }

  .btn{
    width: 200px;
    height: 50px;
    background-color: #49ecb6;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: ease-in-out 0.1s;
    color: black;
    font-size:20px;

   }

   .load{
    border-top: #49ecb6 solid 5px;
    border-width: 1px;
    content: "";
    background:#9c9c9c;
    opacity: 0.5;
    width: 500px;
    height: 500px;
    position: absolute;
     border-radius: 20px;
    z-index: 1;
   }

   
  .load::before{
    content: "";
    background-color: #49ecb6;
    width: 100px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 0.5s linear infinite ;
  }
  @keyframes spin {
      100%{
        transform: translateX(500px);
      }
  }

   @media screen and (max-width: 1288px){
    .form{
     
      width: 400px;
      height: 400px;
    }
  
    .input{
      width: 200px;
      height: 40px;
      background: transparent;
      border: 1px solid #bbb;
      padding-left: 20px;
      border-radius: 10px;  
    }
  
    .btn{
      width: 150px;
      height: 40px;
      background-color: #49ecb6;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      transition: ease-in-out 0.1s;
      color: black;
      font-size:20px;
     }
  }



  @media screen and (max-width: 1024px){
    .form{
     
      width: 400px;
      height: 400px;
    }
  
    .input{
      width: 200px;
      height: 40px;
      background: transparent;
      border: 1px solid #bbb;
      padding-left: 20px;
      border-radius: 10px;  
    }
  
    .btn{
      width: 150px;
      height: 40px;
      background-color: #49ecb6;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      transition: ease-in-out 0.1s;
      color: black;
      font-size:20px;
     }
  
  }
  @media screen and (max-width: 768px){
    .form{
     
      width: 300px;
      height: 300px;
    }
  
    .input{
      width: 150px;
      height: 35px;
      background: transparent;
      border: 1px solid #bbb;
      padding-left: 20px;
      border-radius: 10px;  
    }
  
    .btn{
      width: 100px;
      height: 30px;
      background-color: #49ecb6;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      transition: ease-in-out 0.1s;
      color: black;
      font-size:20px;
     }
    
  }

  @media screen and (max-width: 480px){
    .form{
     
      width: 300px;
      height: 300px;
    }
  
    .input{
      width: 150px;
      height: 35px;
      background: transparent;
      border: 1px solid #bbb;
      padding-left: 20px;
      border-radius: 10px;  
    }
  
    .btn{
      width: 100px;
      height: 30px;
      background-color: #49ecb6;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      transition: ease-in-out 0.1s;
      color: black;
      font-size:20px;
     }
  
  }