.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}
.imgcontainer{
/*     width: 1200px; */
    height: 500px;
    position: relative;
    flex: 1;
    border: 3px solid #bbb;
}
.mainimg{
    width: 900px; 
    height: 500px;
    position: relative;
}
.img{
    object-fit: contain;

}

.items{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;

}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.items:nth-child(2n+1){
    flex-direction: row;
}

.btn{
    display: flex;
    gap: 10px;
}

.btncolor{
    background-color: #a2dda2;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentcontainer{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1288px){
    .mainimg{
        width: 800px; 
        height: 400px;
        position: relative;
    }
    .title{
        font-size: 30px;
    }
  }

  @media screen and (max-width: 1024px){
    .mainimg{
        width: 700px; 
        height: 350px;
        position: relative;
    }
    .title{
        font-size: 25px;
    }
    
  
  }
  @media screen and (max-width: 768px){
    .mainimg{
        width: 600px; 
        height: 300px;
        position: relative;
    }
    .title{
        font-size: 20px;
    }
    .date{
        font-size: 14px;
    }
    .user{
        font-size: 14px;
    }
    .contentparagraph{
        font-size: 14px; 
    }
  }

  @media screen and (max-width: 480px){
    .mainimg{
        width: 300; 
        height: 150px;
        position: relative;
    }
    .title{
        font-size: 18px;
    }
    .date{
        font-size: 12px;
    }
    .user{
        font-size: 10px;
    }
    .contentparagraph{
        font-size: 12px; 
    }
  
  }